.banner .img .image {
    width: 70%;
    margin: auto;
    text-align: center;
}

.logo {
    width: 25%;
    margin: auto;
}

/* ////////////////////// */

.desc-about {
    margin: 25px;
    width: 500px;
    text-align: left;
}

.img-cave1 {
    width: 45%;
    text-align: right;
    float: right;
    margin: 55px;
}

.desc2-about {
    width: 850px;
    text-align: left;
}

#more {
    display: none;
}

/* ////////////////////// */

.desc1-espel {
    margin: 15px;
    text-align: right;
    width: 500px;
    float: right;
}

.desc2-espel {
    margin: 15px;
    width: 500px;
    float: left;
}

.desc3-espel {
    margin: 15px;
    text-align: right;
    width: 500px;
    float: right;
}

.desc4-espel {
    margin: 25px;
    width: 500px;
}

.titulo1-espel {
    color: rgb(255, 183, 0);
    text-align: center;
}

.titulo2-espel {
    color: rgb(255, 183, 0);
    text-align: center;
}

.titulo3-espel {
    color: rgb(255, 183, 0);
    text-align: center;
}

.titulo4-espel {
    color: rgb(255, 183, 0);
    text-align: center;
}

.logo-espel {
    float: left;
    margin: 35px;
}

/* ////////////////////// */

.titulo-rescue {
    color: rgb(255, 183, 0);
    text-align: center;
}

.desc-rescue {
    text-align: left;
    width: 850px;
    margin-top: 35px;
    float: left;
}

.img-rescue {
    width: 20%;
    float: right;
}

/* ////////////////////// */

.titulo-pdm {
    color: rgb(255, 183, 0);
    text-align: center;
}

/* ////////////////////// */

.titulo-pel {
    color: rgb(255, 183, 0);
    text-align: center;
}

/* ////////////////////// */

.titulo-opl {
    color: rgb(255, 183, 0);
    text-align: center;
}

.img-opl {
    text-align: center;
    width: 50%;
}

.video-opl {
    text-align: center;
}

/* ////////////////////// */

.titulo-prop {
    color: rgb(255, 183, 0);
    text-align: center;
}

/* ////////////////////// */

.titulo-fornos {
    color: rgb(255, 183, 0);
    text-align: center;
}

.fornos1 {
    text-align: center;
}

.fornos2 {
    padding: 10px;
}

.desc1-fornos {
    text-align: justify;
    float: left;
    width: 950px;
    padding-left: 10px;
}

/* ////////////////////// */

.titulo-saoLourenco {
    text-align: center;
    color: rgb(255, 183, 0);
}

.desc-saoLourenco {
    padding: 10px;
}

.iframe-sao {
    align-items: center;
    width: 550px;
    height: 360px;
}

/* ////////////////////// */

.titulo-aqueduto {
    text-align: center;
    color: rgb(255, 183, 0);
}

.desc-aqueduto {
    padding: 10px;
}

/* ////////////////////// */

.titulo-esq {
    text-align: center;
    color: rgb(255, 183, 0);
}

.desc-esq {
    padding: 10px;
}

/* ////////////////////// */

.titulo-pataco {
    text-align: center;
    color: rgb(255, 183, 0);
}

.desc-pataco {
    padding: 10px;
}

.img-pataco {
    text-align: center;
}

/* ////////////////////// */

.titulo-monardo {
    text-align: center;
    color: rgb(255, 183, 0);
}

.desc-monardo {
    padding: 10px;
}

.img-monardo {
    text-align: center;
}

/* ////////////////////// */

.table-inseto {
    text-align: center;
    width: 500px;
}

.list-inseto {
    padding-left: 20px;
}

.img-inseto {
    flex-basis: 40%
}
